<!DOCTYPE html>
<html>
<body>
    <form action="http://localhost:8080/result" method="POST">
        Description: <textarea rows="4" cols=50 name="fname"></textarea><br>
        Mode (Leave blank): <input type="text" name="lname"><br>
       <button type="submit">Classify.</button>
    </form>
</body>
</html>