<!DOCTYPE html>
<html>
<style>
    h1 {text-align: center;}
    p {text-align: center; font-family:garamond;}
    form {text-align: center;}
    button {text-align: center; font-family:garamond;}
    
</style>
            
    <h1 style="font-family:garamond; font-size:50px"> AI Resource Classifier </h1>

    <form action="http://localhost:8080/result" method="POST">
        Resource name: <br>
        <br><input type="text" name="lname"><br>
        <p>Write a description:</p>
        <textarea rows="4" cols=50 name="fname"></textarea><br>
        <br><button type="submit">Classify</button>
    </form>
</body>
</html>